<!--
 * @Author: Yang
 * @Date: 2025-08-17 15:23:20
 * @Description: 请填写简介
-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s – Golang Snippets" .Title }}{{ end }}</title>

<!-- Favicon & App Meta -->
{{ partial "head/meta.html" . }}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{ partialCached "head/seo.html" . }}

<!-- Fuse.js for search -->
<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0/dist/fuse.min.js"></script>