
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KQGXMC724B"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag () { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-KQGXMC724B');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5480343618506855"
    crossorigin="anonymous"></script>

<script src="https://analytics.ahrefs.com/analytics.js" data-key="vNfJp/3gwLlLYCjgF/aEjg" async></script>

<script defer src="https://events.vercount.one/js"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<script defer src="https://yppumami.zeabur.app/script.js" data-website-id="bc6021a3-7610-4215-b29e-8fe7cf9228a3"></script>